[paths]
/ = /repos/*

[web]
style = gitweb
baseurl = https://hg.example.com
staticurl = /static
contact = Contact <contact@hg.example.com>
pygments_style = tango
highlightfiles = size('<100k')
highlightonlymatchfilename = True

[extensions]
highlight =
evolve.serveronly =

[phases]
publish = False
new-commit = draft
